################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dismemberment/obj
/Dismemberment/bin/Release/net481/ScriptHookVDotNet3.xml
/.vs/Dismemberment/FileContentIndex
*.v2
/.vs/ProjectEvaluation
Dismemberment/bin/Release/net48/ScriptHookVDotNet3.xml
